.tanque1 {
  width: 130px; 
  height: 180px;
  margin: 45px 0px 35px 100px;
  background-color: #ccc;
  border: 5px solid black;
  position: relative;
}

.agua1 {
  width: 100%;
  height: 0;
  background-color: blue;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.tanque1.lleno .agua1 {
  height: 100%;
}

.tanque1.vaciando .agua1 {
  height: 0;

}

@keyframes llenarTanque {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes vaciarTanque {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.tanque2 {
  width: 130px; 
  height: 180px; 
  margin: 0px 0px 15px 200px;
  background-color: #ccc;
  border: 5px solid black;
  position: relative;
}

.agua2 {
  width: 100%;
  height: 0;
  background-color: blue;
  position: absolute;
  bottom: 0;
  transition: height 2.5s;
}

.tanque2.lleno .agua2 {
  height: 100%;
}

.tanque2.vaciando .agua2 {
  height: 0;

}

@keyframes llenarTanque {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes vaciarTanque {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.llave1 {
  display: inline-block;
  position: absolute;
  margin: -470px 0px 0px 85px;
  width: 50px;
  height: 30px;
}

.llave1 .manija1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
}

.llave1 .cuerpo1 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.llave2 {
  display: inline-block;
  position: absolute;
  margin: -270px 0px 0px 239px;
  width: 50px;
  height: 30px;
}

.llave2 .manija2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
}

.llave2 .cuerpo2 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.llave3 {
  display: inline-block;
  position: absolute;
  margin: -50px 0px 0px 339px;
  width: 50px;
  height: 30px;
}

.llave3 .manija3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
}

.llave3 .cuerpo3 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.reloj{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #000;
}

.manecillaH, .manecillaM, .manecillaS {
  position: absolute;
  width: 3px;
  height: 60px;
  background-color: #000;
  transform-origin: bottom center;
  left: calc(50% - 1px);
}

.manecillaH {
  transform: rotate(1deg) translateX(50%);
  top: calc(50% - 65px);
}

.manecillaM {
  transform: rotate(17deg) translateX(50%);
  top: calc(50% - 66px);
}

.manecillaS {
  transform: rotate(45deg) translateX(50%);
  top: calc(50% - 68px);
}

button{
  border-radius: 3px;
}

img{
  width: 30px;
  height: 30px;
}
