.izquierda{
  float: left;
  width: 30%;
}

.izquierda {
  display: flex;
  flex-direction: column;
}

.derecha {
  font-family: Arial, sans-serif;
  font-size: 17px;
}

#indicador-1, #generado-1 {
  display: block;
}

#indicador-2, #generado-2 {
  display: block;
}


#boton-inicio {
  order: 1;
  width: 100px;
  margin-bottom: 10px;
}

#valor_1 {
  order: 2;
  width: 180px;
  margin-bottom: 10px;
}

#valor_2 {
  order: 3;
  width: 180px;
  margin-bottom: 10px;
}

#valor_3 {
  order: 4;
  width: 180px;
  margin-bottom: 10px;
}

#boton-parar {
  order: 5;
  width: 100px;
  margin-bottom: 10px;
}

.derecha{
  float: right;
  width: 70%;
}

section{
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
}

.tanque1 {
  width: 130px; 
  height: 180px;
  margin: 45px 0px 35px 100px;
  background-color: #ccc;
  border: 5px solid black;
  position: relative;
}

.agua1 {
  width: 100%;
  height: 0;
  background-color: blue;
  position: absolute;
  bottom: 0;
  /* transition: height 2s; */
}

.tanque1.lleno .agua1 {
  height: 100%;
}

.tanque1.vaciando .agua1 {
  height: 0;

}

@keyframes llenarTanque {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes vaciarTanque {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.tanque2 {
  width: 130px; 
  height: 160px; 
  margin: 0px 0px 15px 200px;
  background-color: #ccc;
  border: 5px solid black;
  position: relative;
}

.agua2 {
  width: 100%;
  height: 0;
  background-color: blue;
  position: absolute;
  bottom: 0;
  /* transition: height 2.5s; */
}

.tanque2.lleno .agua2 {
  height: 100%;
}

.tanque2.vaciando .agua2 {
  height: 0;

}

@keyframes llenarTanque {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes vaciarTanque {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.llave1 {
  display: inline-block;
  position: absolute;
  margin: -470px 0px 0px 85px;
  width: 50px;
  height: 30px;
}

.llave1 .manija1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
}

.llave1 .cuerpo1 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.llave2 {
  display: inline-block;
  position: absolute;
  margin: -270px 0px 0px 239px;
  width: 50px;
  height: 30px;
}

.llave2 .manija2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
}

.llave2 .cuerpo2 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.llave3 {
  display: inline-block;
  position: absolute;
  margin: -50px 0px 0px 339px;
  width: 50px;
  height: 30px;
}

.llave3 .manija3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
}

.llave3 .cuerpo3 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.reloj{
  position: absolute;
  margin: -510px 0px 0px 668px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #000;
}


.manecillaS {
  transform: rotate(0deg) translateX(50%);
  top: calc(50% - 68px);
  position: absolute;
  width: 3px;
  height: 60px;
  background-color: #000;
  transform-origin: bottom center;
  left: calc(50% - 1px);
}

button{
  border-radius: 10px;
}

img{
  width: 30px;
  height: 30px;
}

.llave-roja .manija1,
.llave-roja .cuerpo1,
.llave-roja .manija2,
.llave-roja .cuerpo2,
.llave-roja .manija3,
.llave-roja .cuerpo3 {
    background-color: red;
    /* Otros estilos rojos que desees */
}

.agua {
  position: absolute;
  top: 30px; /* La distancia desde la parte superior del cuerpo de la llave */
  left: 25px; /* La posición horizontal donde quieres que comience la línea de agua */
  width: 2px; /* Ancho de la línea de agua */
  height: 30px; /* Altura de la línea de agua */
  background-color: blue; /* Color del agua */
}

.llave-roja .agua-roja {
  display: none;
}